   
                            
                            
                            
                            
                            <div class="card-body b-b bg-light modalallo" hidden="">
                        <div class="stepper sw-main sw-theme-circles sw-theme-sw-theme-circles" id="smartwizard" data-options="{
                                     &quot;useURLhash&quot;:true,
                                     &quot;theme&quot;:&quot;sw-theme-circles&quot;,
                                     &quot;transitionEffect&quot;:&quot;fade&quot;,
                                     &quot;toolbarSettings&quot;:{
                                         &quot;showNextButton&quot;:false,
                                         &quot;showPreviousButton&quot;:false
                                         }
                                     }">
                            <ul class="nav step-anchor nav-tabs">
                                <li class="nav-item done"><a href="#step-1y" class="nav-link">Request Detail</a></li>
                                <li class="nav-item done"><a href="#step-2y" class="nav-link">Choose Device</a></li>
                                  <li class="nav-item done"><a href="#step-3y" class="nav-link">Reply</a></li>
                            </ul>
                            <div class="card no-b shadow sw-container tab-content" style="min-height: 212px;">
                                <div id="step-1y" class="card-body text-center p-5 tab-pane step-content" style="display: none;">
                                    <h3 class="my-3">
                                  
                               
                                    </h3>
                           
                                </div>
                               
                        
                            </div>
                        </div>
                    </div>
                             <div class="row-type row ">
                       <div class="col-12">
                          <a class=" approveda" href="#step-2y">
                <span  class="btn btn-primary btn-lg float-right mr-2">
                        <i class="icon icon-cloud-download"></i> APPROVED
                      </span></a>
                <button type="button" class="btn btn-danger btn-lg mr-3 float-right"><i class="icon icon-credit-card"></i> DENY
                      </button>
                       </div>
                         </div>
                            <div class="row-submit row ">
                       <div class="col-12">
                <button type="button" class="btn btn-dark btn-lg float-right mr-2">
                        <i class="icon icon-cloud-download"></i> BACK
                      </button>
                <button type="button" class="btn btn-success btn-lg mr-3 float-right"><i class="icon icon-credit-card"></i> SUBMIT
                      </button>
                       </div>
                         </div>
                        <!--Message End-->
           <!--  -->    <!--         <div class="row ml-3">
                          <a class="col-md-7" href="#step-1y"><span class="back btn btn-dark l-s-1 s-12 text-uppercase ">
                    Back
                </span></a>
                	
                     <a class="denya mr-3" href="#step-3y"><span class=" btn btn-danger l-s-1 s-12 text-uppercase deny">
                    Deny
                </span></a>
                <a class="mr-3 approveda" href="#step-2y"><span class="btn btn-primary l-s-1 s-12 text-uppercase approved">
                    Send Message
                </span></a>
                
                <span class=" float-right btn btn-primary l-s-1 s-12 text-uppercase submit" hidden="">
                    Submit
                </span>
               
                </div>-->  